.header {
    display: flex;
    justify-content: space-between; /* Align items to the start and distribute remaining space between them */
    align-items: center; /* Align items vertically */
  }
  
  .nav-links {
    display: flex;
    gap: 3vw; /* Add a small space between links */
    margin-right: 65vw;
    margin-top: 2vh;
  }
  
  /* Define styles for links */
  .linkStyle {
    font-size: 20px;
    font-family: 'Aclonica', sans-serif;
    cursor: pointer;
  }
  
  .post-container {
    display: flex;
    /* justify-content: space-around; */
    /* margin: 10px 0;  */
    font-family: 'Aclonica', sans-serif;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    /* padding: 20px; */
}